<p>Here's what Student can do:</p>
<button mat-raised-button color="primary" (click)="enrollActivity()" type="submit" >enrollActivity</button>
<span><small> --> Click the button to enroll an new activity</small></span>
<br>
<br>
<button mat-raised-button color="primary" (click)="seeActivityList()" type="submit" >seeActivityList</button>
<span><small> --> Click the button to see the list of activities</small></span>
<br>
<br>
<button mat-raised-button color="primary" (click)="removeEnrolledActivity()" type="submit" >removeEnrolledActivity</button>
<span><small> --> Click the button to remove activity which have enrolled</small></span>
<br>
<br>
<button mat-raised-button color="primary" (click)="seeActivityScore()" type="submit" >seeActivityScore</button>
<span><small> --> Click the button to see the score of activities</small></span>