<mat-toolbar>
    <mat-toolbar-row>
        <span>Course</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <form style="margin-left: 1em">
    <mat-form-field class="full-width">
        <input matInput placeholder="Activity Id" [value]="course?.activityId" readonly>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="Activity Name" [value]="course?.activityName" readonly>
    </mat-form-field>
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Lecturer name" [value]="course?.lecturer?.name" readonly>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Lecturer surname" [value]="course?.lecturer?.surname" readonly>
                </mat-form-field>
            </td>
        </tr>
  </table>
  </form>